<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table class="table table-striped">
    <tr class="field">
      <td><%= f.label :id %></td>
      <td><%= f.text_field :id %></td>
    </tr>
    <tr class="field">
      <td><%= f.label :mail %></td>
      <td><%= f.text_field :mail %></td>
    </tr>
    <tr class="field">
      <td><%= f.label :name %></td>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr class="field">
      <td><%= f.label :active %></td>
      <td><%= f.text_field :active %></td>
    </tr>
    <tr class="field">
     <td><%= f.label :created_at %></td>
      <td><%= f.datetime_select :created_at %></td>
    </tr>
    <tr class="field">
      <td><%= f.label :modified_at %></td>
      <td><%= f.datetime_select :modified_at %></td>
    </tr>
    </table>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
