<p id="notice"><%= notice %></p>

<!-- <h1><span class="glyphicon glyphicon-search" aria-hidden="true"></span>Listing Items</h1> -->

<div class="row">
<% @items.each do |item| %>
  <div class="col-md-4">
      <div class="box">
        <h3><%= item.code %></h3>
        <p>revision: <%= item.revision %></p>
        <p><%= item.maker %> <%= item.name %> <%= item.size %> <%= item.price %></p>
        <p><%= image_tag items_picture_path(item), :class => "image" %></p>
        <p><%= link_to '詳細を見る', item %><!-- <%= link_to 'Edit', edit_item_path(item) %> --></p>
      </a>
  	</div>
  </div>
<% end %>
</div>
<div class="row newbutton">
	<%= link_to '新規商品の登録', new_item_path, class: "btn btn-default" %>
</div>

