<p id="notice"><%= notice %></p>

<h1><span class="glyphicon glyphicon-search" aria-hidden="true"></span>Listing Items</h1>

<div class="row">
<% @items.each do |item| %>
  <div class="col-md-4">
        <h3><%= item.code %></h3>
        <p>revision: <%= item.revision %></p>
        <p><%= item.maker %> <%= item.name %> <%= item.size %> <%= item.price %></p>
        <p><%= link_to 'Show', item %> <%= link_to 'Edit', edit_item_path(item) %>
           <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></p>
  </div>
<% end %>
</div>
<div class="row">
<%= link_to '新規商品の登録', new_item_path, class: "btn btn-default" %>
</div>
