<p id="notice"><%= notice %></p>

<table class="table table-striped">
  <tr>
    <td><strong>Id</strong></td>
    <td><%= @item.id %></td>
  </tr>
  <tr>
    <td><strong>User</strong></td>
    <td><%= @item.user_id %></td>
  </tr>
  <tr>
    <td><strong>Code</strong></td>
    <td><%= @item.code %></td>
  </tr>
  <tr>
    <td><strong>Revision</strong></td>
    <td><%= @item.revision %></td>
  </tr>
  <tr>
    <td><strong>Maker</strong></td>
    <td><%= @item.maker %></td>
  </tr>
  <tr>
    <td><strong>Name</strong></td>
    <td><%= @item.name %></td>
  </tr>
  <tr>
    <td><strong>Size</strong></td>
    <td><%= @item.size %></td>
  </tr>
  <tr>
    <td><strong>Price</strong></td>
    <td><%= @item.price %></td>
  </tr>
  <tr>
    <td><strong>Picture</strong></td>
    <td><%= @item.picture %></td>
  </tr>
</table>

<%= link_to '編集', edit_item_path(@item) %> |
<%= link_to '削除', @item, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to '戻る', items_path %>

