<p id="notice"><%= notice %></p>

<table border="1">
  <tr>
    <td class="item_show_left"><strong>Id</strong></td>
    <td class="item_show_right"><%= @item.id %></td>
  </tr>
  <tr>
    <td class="item_show_left"><strong>User</strong></td>
    <td class="item_show_right"><%= @item.user_id %></td>
  </tr>
  <tr>
    <td class="item_show_left"><strong>Code</strong></td>
    <td class="item_show_right"><%= @item.code %></td>
  </tr>
  <tr>
    <td class="item_show_left"><strong>Revision</strong></td>
    <td class="item_show_right"><%= @item.revision %></td>
  </tr>
  <tr>
    <td class="item_show_left"><strong>Maker</strong></td>
    <td class="item_show_right"><%= @item.maker %></td>
  </tr>
  <tr>
    <td class="item_show_left"><strong>Name</strong></td>
    <td class="item_show_right"><%= @item.name %></td>
  </tr>
  <tr>
    <td class="item_show_left"><strong>Size</strong></td>
    <td class="item_show_right"><%= @item.size %></td>
  </tr>
  <tr>
    <td class="item_show_left"><strong>Price</strong></td>
    <td class="item_show_right"><%= @item.price %></td>
  </tr>
  <tr>
    <td class="item_show_left"><strong>Picture</strong></td>
    <td class="item_show_right"><%= @item.picture %></td>
  </tr>
</table>

<%= link_to '編集', edit_item_path(@item) %> |
<%= link_to '削除', @item, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to '戻る', items_path %>

